<footer class="footer">
  <div class="footer-social">
    <ul class="social-icons">
      <li><a href="https://twitter.com/javacreed"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <!--<li><a href="{{ site.facebook_url }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>-->
      <!--<li><a href="{{ site.googleplus_url }}"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>-->
      <!--<li><a href="{{ site.instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
      <li><a href="https://github.com/javacreed"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/javacreed/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="copyright">
      <li>2012 - 2019 @ Java Creed</li>
    </ul>
  </div>
  <div class="footer-newsletter"></div>
</footer>
